h2,h3{
    font-size: 14px;
    font-weight: bold;
    font-family: 'ヒラギノ明朝 ProN', 'MS 明朝';
}
h4{
    font-family: 'ヒラギノ明朝 ProN', 'MS 明朝';
}
p, li, ol{
    font-size: 12px;
    font-family: 'ヒラギノ明朝 ProN', 'MS 明朝';
}
code{
    font-size: 12px;
}
/* for inline code */
:not(pre):not(.hljs) > code {
	color: black;
	font-size: inherit;
	font-family: inherit;
}
.footer{
    font-family: 'ヒラギノ明朝 ProN', 'MS 明朝';
    text-align: center;
    margin-top: 0.5cm;
}
.page {
    page-break-after: always;
}
.caption {
    font-family: 'ヒラギノ明朝 ProN', 'MS 明朝';
    text-align: center;
    font-size: 12px
}